@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    width: 100%;
    min-height: 100vh;
    background-position: center;
    background-size: cover;
    object-fit: contain;
    background-repeat: no-repeat;
    position: relative;
}

.container {
    width: 100%;
    min-height: 100vh;
}

#login {
    width: 100%;
    min-height: 100vh;
    background-color: #090e18;
}

.login-page {
    width: 100%;
    min-height: 100vh;
}

.design {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.design > .big {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    min-height: 130vh;
    width: 120vh;
    border-radius: 50%;
    background: linear-gradient(
        135deg,
        #ba7ecf 2%,
        #f19ed0 22%,
        #948df2 43%,
        #b9c2ff 73%,
        #fbcea5 100%
    );
}

.design > .small {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    min-height: 70vh;
    width: 55vh;
    background-color: #090e18;
    border-radius: 50%;
}

.login-page .form form {
    min-height: 100vh;
}

.login-page .form form > .login-title {
    background: linear-gradient(
        to right,
        #ba7ecf 2%,
        #f19ed0 22%,
        #948df2 43%,
        #b9c2ff 73%,
        #fbcea5 100%
    );
    background-clip: text;
    color: rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 96px;
}

.login-page .form form > input {
    min-width: 30vw;
    max-width: 40vw;
    color: #fff;
}

.login-page .form form > input::placeholder {
    color: gainsboro;
}

#register {
    background-color: #090e18;
}

.register-page {
    width: 100%;
    min-height: 100vh;
}

.design {
    width: 100%;
    min-height: 100vh;
    position: relative;
    overflow: hidden;
}

.design > .big {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    min-height: 130vh;
    width: 120vh;
    border-radius: 50%;
    background: linear-gradient(
        135deg,
        #ba7ecf 2%,
        #f19ed0 22%,
        #948df2 43%,
        #b9c2ff 73%,
        #fbcea5 100%
    );
}

.design > .small {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
    min-height: 70vh;
    width: 55vh;
    background-color: #090e18;
    border-radius: 50%;
}

.register-page .form form {
    min-height: 100vh;
}

.register-page .form form > .register-title {
    background: linear-gradient(
        to right,
        #ba7ecf 2%,
        #f19ed0 22%,
        #948df2 43%,
        #b9c2ff 73%,
        #fbcea5 100%
    );
    background-clip: text;
    color: rgba(0, 0, 0, 0.1);
    font-weight: 600;
    font-size: 96px;
}

.register-page .form form > input {
    min-width: 30vw;
    max-width: 40vw;
    color: #fff;
}

.register-page .form form > input::placeholder {
    color: gainsboro;
}

#landing {
    width: 100%;
    min-height: 100vh;
    background-color: #090e18;
    overflow: hidden;
    font-family: "DM Sans", sans-serif;
}

.container {
    min-height: 100vh;
}

#landing .row {
    min-height: 100vh;
}

.entry-title {
    background: linear-gradient(
        to right,
        #ba7ecf 2%,
        #f19ed0 22%,
        #948df2 43%,
        #b9c2ff 73%,
        #fbcea5 100%
    );
    background-clip: text;
    color: rgba(0, 0, 0, 0.1);
    font-size: 95px;
}

.entry-desc {
    color: #aaadfa;
    font-size: 42px;
}

.entry-author {
    font-size: 30px;
    font-weight: bold;
}

.entry-right > img {
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%);
    background-position: center;
    background-size: cover;
    object-fit: cover;
}

.middle > button:nth-child(1) > a {
    color: #090e18;
}

.middle > button:nth-child(2) > a {
    color: #fff;
}

.middle > button:nth-child(2):hover > a {
    color: #090e18;
}

#addBoardInput {
    width: 90%;
    font-size: 16px;
    border: none;
    outline: none;
}

#pages {
    height: calc(100vh - 65px);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

#boards {
    height: calc(100vh - 65px);
    overflow-x: auto;
    width: 100%;
}

.todoBody {
    padding: 20px;
    min-width: 350px;
    min-height: 250px;
    max-height: 450px;
    width: 350px;
    border: 1px solid black;
    background-color: #fff;
}

.todoBody i {
    font-size: 25px;
}

.todoAddBody {
    padding: 20px;
    min-width: 350px;
    height: 90px;
    width: 350px;
    border: 1px solid black;
    background-color: #fff;
}

.todo-header {
    display: flex;
}

.todo-actions-btn {
    border: none;
    outline: none;
}

.todo-title {
    width: 90%;
}

#colorInput {
    height: 100px;
}

.task-dropdown-btn {
    width: 30px;
    height: 30px;
}

.task-dropdown-menu {
    cursor: pointer;
}

.start-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header {
    width: 100%;
    min-height: 65px;
}

.board-title {
    width: 100%;
    height: 60px;
    color: #b4b4b4;
    font-weight: 400;
}

.setBgVariant {
    cursor: pointer;
    height: 250px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.todo-list-body {
    overflow: hidden;
    overflow-y: auto;
    height: 68%;
}

.start-page-form {
    width: 40%;
    height: 70vh;
    backdrop-filter: blur(20px);
    border-radius: 2vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-page-form > form {
    width: 95%;
    height: 95%;
    border-radius: 2vw;
}

.board-name {
    margin: 0;
    overflow: hidden;
    text-overflow: clip;
    white-space: nowrap;
    max-width: 200px;
}
